/* Default style for elements in the page  */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Selector for the container of the logo at the navbar */
.navbar-logo-container {
  width: 0;
  height: 0;
}

/* Selector for the ul at the navbar */
.nav-list {
  display: flex;
  list-style: none;
  background-color: #131313;
  font-size: 13px;
  font-weight: 300;
  line-height: 32px;
  max-height: 32px;
  position: relative;
}
 
/* Selector for the li elements at the ul at the navbar */
.nav-list li {
  margin-left: 20px;
  float: left;
}

/* Selector for the links at the ul at the navbar */
.nav-list a:link {
  text-decoration: none;
  color: hsla(0,0%,100%,.6);
}

/* Selector for the links at the ul at the navbar when the user hovers on it */
.nav-list a:link:hover {
  color: white;
  cursor: pointer;
}

/* Selector for the first element at the list at the ul at the navbar */
.nav-list-first-element a:link {
  color: white;
}

/* Selector for the container of the li elements to the right at the ul at the navbar */
.navbar-row-one-right-links {
  float: right;
  padding-right: 20px;
  position: absolute;
  right: 0;
}

/* Selector for the second row inside nav */
.second-row-nav {
  height: 50px;
  background-color: white;
}

/* Selector for the container which contains the second row inside nav */
.second-row-nav ul{
  width: 100%;
  list-style: none;
}

/* Selector for all the links inside the second row */
.second-row-nav a:link {
  float: left;
  font-weight: 500;
  text-transform: uppercase;
  color: #aaa;
  letter-spacing: .04em;
  line-height: 1;
  padding: 18px 10px 0;
  text-decoration: none;
  font-size: 13px;
}

/* Selector for all the links inside the second row when the user hovers on it */
.second-row-nav a:link:hover {
  color: #424242;
}

/* Selector for the first element at the second row at the navbar */
.latest {
  padding-left: 10px;
}

/* Selector which cotanins the container for the serach icon */
.search-container {
  float: right;
  height: 50px;
  width: 50px;
  border-left: 1px solid #eee;
}

/* Selector for the search icon from Font Awesome */
.fa-search {
  color: #aaa;
  transform: rotate(75deg);
  float: right;
  margin-top: 17px;
  margin-right: 17px;
  width: 16px;
  height: 16px;
}

/* Selector for the hover effect when hovering over search icon */
.fa-search:hover {
  cursor: pointer;
  color: #424242;
}

/* Selector for the container which contains the hamburger menu */
.hamburger-container {
  width: 0;
  height: 0;
}

/* Selector for the hamburger menu. Font awesome */
.fa-bars {
  visibility: hidden;
}

/* Selector for the yellow link at the navbar */
.yellow-link {
  text-decoration: none;
}

/* Selector for the yellow div at the navbar */
.yellow-div {
  box-shadow: 0 16px 48px rgba(0,0,0,.15);
  line-height: 30px;
  background-color: #fd3;
  font-size: 13px;
  color: #000;
  font-weight: 300;
  padding-left: 20px;
}

/* Selector for the first grid at the first section */
.first-grid {
  margin: 2px auto;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  grid-gap: 10px;
  width: calc(100% - 16px);
  height: 527px;
}

/* Selector for all section headers */
.section-headers {
  display: none;
}

/* Selector for article one at grid one */
.first-grid-article-one {
  grid-area: 1 / 1 / span 2 / span 2;
  background-image: url(images/img_turntable.jpg);
  background-size: 124%;
  background-position-x: -102px;
  background-position-y: -2px;
  position: relative;
}

/* Selector for the container containing the image used as a second layer for the first article at the first grid */
.cover-gradient {
  width: 100%;
  height: 100%;
  background-image: url(images/img_cover_gradient.png);
  background-size: cover;
  opacity: 0.5;
}

/* Selector for the logo used on the cover */
.cover-logo {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 50%;
  max-height: 112px;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 10;
}

/* Selector for the logo used on the cover when the user hovers on it*/
.cover-logo:hover {
  cursor: pointer;
}

/* Selector for the date found at the cover */
.cover-date {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 14px;
  font-weight: 300;
  z-index: 10;
}

/* Selector for the date found at the cover when the user hovers on it */
.cover-date:hover {
  cursor: auto;
}

/* Selector for header elements at the first grid */
.first-grid header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(transparent, black);
  height: 100%;
}

/* Selector for header elements at the first grid when the user hovers on it */
.first-grid header:hover {
  cursor: pointer;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), black);
}

/* Selector for the container of the header elements at the first article at the first grid */
.header-container {
  padding-left: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Selector for anchors found before the header at articles at first grid */
.first-grid-article-anchor {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  font-size: 14px;
  position: relative;
  top: -4px;
}

/* Selector for h2 links at the cover article */
.cover-article a:link {
  color: white;
  text-decoration: none;
  font-size: 54px;
  line-height: 1;
  margin-bottom: 0.25em;
  font-weight: 700;
}

/* Selector for the ul at the articles at the first section */
.first-grid-article-data-container {
  color:  hsla(0,0%,100%,.6);
  list-style: none;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  margin-top: 14px;
}

/* Selector for the ul at the articles at the first section when the user hovers on it */
.first-grid-article-data-container:hover {
  cursor: text;
}

/* Selector for the links at the ul at the article at the first section */
.first-grid-article-data-container a:link {
  color: hsla(0,0%,100%,.6);
  text-decoration: none;
}

/* Selector for the links at the ul at the article at the first section when the user hovers on it */
.first-grid-article-data-container a:link:hover {
  color: white; 
}

/* Selector for the icons placed inside articles at the first section */
.article-icon {
  margin: 0 4px 16px 8px;
}

/*==============================================================================
MEDIA QUERIES FOR UNDER 1024PX WIDTH
==============================================================================*/
/* These rules will apply below 1024px */
@media (max-width: 1024px) {

  /* Selector for the container of the logo at the navbar */
  .navbar-logo-container {
    width: 110px;
    height: 82px;
    background: linear-gradient(to bottom right,#c09,#f42 85%);
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
  }

  /* Selector for the logo of Next Web */
  .next-web-logo {
    width: 66px;
    height: 16px;
  }

  /* Selector for the ul at the navbar */
  .nav-list {
    display: flex;
  }

  /* Selector for the unordered list at the second row at the navbar */
  .second-row-nav ul {
    position: relative;
    left: 10px;
  }

  /* Selector for the yellow div at the container */
  .yellow-div {
    padding-left: 130px;
  }
}

/* Media query for under 880px */
@media (max-width: 880px) {
  .navbar-row-one-right-links {
    visibility: hidden;
  }
}

/*==============================================================================
MEDIA QUERIES FOR UNDER 768PX WIDTH
==============================================================================*/
/* These rules will apply below 768px */
@media (max-width: 768px) {

  /* Selector for the container of the logo at the navbar */
  .navbar-logo-container {
    width: 106px;
    height: 50px;
    background: linear-gradient(to bottom right,#c09,#f42 85%);
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
  }
  
  /* Selector for the ul at the navbar */
  .nav-list {
    display: none;
  }

  /* Selector for the element used to hide my nav elements */
  .hidden-element-nav-bar {
    display: none;
  }
  
  /* Selector for the container which contains the hamburger menu */
  .hamburger-container {
    float: right;
    display: flex;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    color: #f42;
    border-left: 1px solid #eee;
  }

  /* Selector for the container which contains the hamburger menu when the user hovers on it */
  .hamburger-container:hover {
    cursor: pointer;
  }

  /* Selector for the hamburger menu. Font awesome */
  .fa-bars {
    width: 16px;
    height: 16px;
    visibility: visible;
    position: relative;
    right: 4px;
  }

  /* Selector for the yellow div at navbar */
  .yellow-div {
    text-align: center;
    padding: 0;
  }
}