/* Default style for elements in the page  */
* {
  margin: 0;
  padding: 0;
}

/* Selector for the ul at the navbar */
.nav-list {
  display: flex;
  list-style: none;
  background-color: #131313;
  font-size: 13px;
  font-weight: 300;
  line-height: 32px;
  max-height: 32px;
  font-family: sans-serif;
  position: relative;
}
 
/* Selector for the li elements at the ul at the navbar */
.nav-list li {
  margin-left: 20px;
  float: left;
}

/* Selector for the links at the ul at the navbar */
.nav-list a:link {
  text-decoration: none;
  color: hsla(0,0%,100%,.6);
}

/* Selector for the links at the ul at the navbar when the user hovers on it */
.nav-list a:link:hover {
  color: white;
  cursor: pointer;
}

/* Selector for the first element at the list at the ul at the navbar */
.nav-list-first-element a:link {
  color: white;
}

/* Selector for the container of the li elements to the right at the ul at the navbar */
.navbar-row-one-right-links {
  float: right;
  padding-right: 20px;
  position: absolute;
  right: 0;
}

/* Selector for the second row inside nav */
.second-row-nav {
  height: 50px;
  background-color: white;
}

/* Selector for the container which contains the second row inside nav */
.second-row-nav ul{
  width: 100%;
  list-style: none;
}

/* Selector for all the links inside second row */
.second-row-nav a:link {
  float: left;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #aaa;
  height: 48px;
  letter-spacing: .04em;
  line-height: 1;
  padding: 18px 10px 0;
  text-decoration: none;
}

/* Selector which cotanins the container for the serach icon */
.search-container {
  float: right;
  height: 50px;
  width: 50px;
  border-left: 1px solid #eee;
}

/* Selector for the search icon from Font Awesome */
.fa-search {
  color: #aaa;
  transform: rotate(75deg);
  float: right;
  margin-top: 17px;
  margin-right: 17px;
  width: 16px;
  height: 16px;
}

/* Selector for the hover effect when hovering over search icon */
.fa-search:hover {
  cursor: pointer;
  color: #424242;
}